#headernew{
	background-color: #49DCDC;
	border-color: #39CCCC;
}
.toggle {
	background-color: #29bCbC;
	border-color: #39CCCC;
}
.toggle:hover{
	background-color: #19aCaC;
}
.actief{
	background-color: #39CCCC;
}
#footernew{
	text-align: center;
	background-color: white;
	border-color: #39CCCC;	
	border-top: solid #49DCDC;
}
#content {
	padding-top: 5%;
	overflow:auto;
}
#codeLijst{
	border: solid;
	border-color: #49DCDC;
	overflow: auto;
	height: 150px;
	text-align: center;
}
#msgs{
	color: #FF4136;
}
#ilustratie {
	max-width: 100%;
}
.links a{
	float: right;
	top: 100px;
	position: relative;
}
.vol{
	width: 100%;
}
.half{
	width: 50%;
}
.tabnav{
	position:absolute;
	bottom: 1%;
}

.tabnav a{
	color: #606060;
}
.tablecontent{
	overflow: auto;
	height: 400px;
}
#vraagcontext{
	height: 200px;
}
.bottom{
	padding-bottom: 5px;
}