<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<welcome-file-list>
		<welcome-file>login-student.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>login docent servlet</servlet-name>
		<servlet-class>servlets.LoginDocentBeheerderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login docent servlet</servlet-name>
		<url-pattern>/login-docent.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>exporteer servlet</servlet-name>
		<servlet-class>servlets.ExporteerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exporteer servlet</servlet-name>
		<url-pattern>/exporteer.zip</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>exporteer code servlet</servlet-name>
		<servlet-class>servlets.ExporteerCodesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exporteer code servlet</servlet-name>
		<url-pattern>/codeExport.zip</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>studenten overzicht servlet</servlet-name>
		<servlet-class>servlets.StudentenOverzichtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>studenten overzicht servlet</servlet-name>
		<url-pattern>/studenten-overzicht.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>login student servlet</servlet-name>
		<servlet-class>servlets.LoginStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login student servlet</servlet-name>
		<url-pattern>/login-student.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>toets servlet</servlet-name>
		<servlet-class>servlets.ToetsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>toets servlet</servlet-name>
		<url-pattern>/toets-vraag.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>vragen aanmaken servlet</servlet-name>
		<servlet-class>servlets.VragenAanmakenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vragen aanmaken servlet</servlet-name>
		<url-pattern>/vraag-aanmaken.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>vraag bewerken servlet</servlet-name>
		<servlet-class>servlets.VragenBewerkenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vraag bewerken servlet</servlet-name>
		<url-pattern>/vraag-bewerken.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>docent bewerken servlet</servlet-name>
		<servlet-class>servlets.DocentenBewerkenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>docent bewerken servlet</servlet-name>
		<url-pattern>/docent-bewerken.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>vragen overzicht servlet</servlet-name>
		<servlet-class>servlets.VragenOverzichtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vragen overzicht servlet</servlet-name>
		<url-pattern>/vragen-overzicht.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>enquete servlet</servlet-name>
		<servlet-class>servlets.EnqueteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>enquete servlet</servlet-name>
		<url-pattern>/enquete.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>enquete inzicht servlet</servlet-name>
		<servlet-class>servlets.EnqueteInzichtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>enquete inzicht servlet</servlet-name>
		<url-pattern>/enqueteInzicht.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>studentcodes genereren</servlet-name>
		<servlet-class>servlets.StudentcodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>studentcodes genereren</servlet-name>
		<url-pattern>/studentcode.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>servlets.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>servlets.Serve</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>docent aanmaken</servlet-name>
		<servlet-class>servlets.DocentAanmakenServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>docent aanmaken</servlet-name>
		<url-pattern>/docentaanmaken.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>studenten overzicht servlet</servlet-name>
		<servlet-class>servlets.StudentenOverzichtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>studenten overzicht servlet</servlet-name>
		<url-pattern>/studenten-overzicht.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>docenten overzicht servlet</servlet-name>
		<servlet-class>servlets.DocentenOverzichtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>docenten overzicht servlet</servlet-name>
		<url-pattern>/docenten-overzicht.do</url-pattern>
	</servlet-mapping>
</web-app> 
